body {
  font-family: Arial, sans-serif; }
  body span {
    font-size: 12px; }
  body .banner-wrapp .banner {
    width: 300px;
    height: 600px;
    padding: 5px 15px;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 28px -1px rgba(0, 0, 0, 0.31);
    box-shadow: 4px 4px 28px -1px rgba(0, 0, 0, 0.31); }
    body .banner-wrapp .banner .banner-head .banner-name {
      font-size: 25px;
      color: #571c7f;
      text-align: center; }
    body .banner-wrapp .banner .banner-price .sum {
      color: #571c7f; }
