@import "mixins";
body {
  font-family: OpenSans, sans-serif;
  background-color: rgba(0,0,0,0.4);
  span {
    font-size: 12px;
  }
  .banner-wrapp {
    .banner {
      display: block;
      margin: 0 auto;
      width: 240px;
      height: 590px;
      padding: 5px 30px;
      background-color: #fff;
      -webkit-box-shadow: 4px 4px 28px -1px rgba(0,0,0,0.31);
      box-shadow: 4px 4px 28px -1px rgba(0,0,0,0.31);
      .banner-head {
        .banner-name {
          font-size: 25px;
          color:$main;
          text-align: center;
        }
      }
      .range-wrapp {
        margin-bottom: 10px;
        label {
          color: $main;
          display: block;
          font-size: 12px;
          margin-bottom: 10px;
        }
        .range {
          display: block;
          margin: 0 auto 10px;
        }
        .results-wrapp {
          label {
            display: inline-block;
            font-weight: 600;
            font-size: 15px;
          }
          .result {
            width: 90px;
            height: 30px;
            background-color: $main;
            color: #fff;
            font-weight: 600;
            border: none;
            border-radius: 20px;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            &:hover,
            &:active,
            &:focus {
              border: none;
              outline: none;
            }
          }
        }
      }
    }
  }
}