@import "mixins";
body {
  font-family: OpenSans, sans-serif;
  background-color: rgba(0,0,0,0.4);
  span {
    font-size: 12px;
  }
  .banner-wrapp {
    .banner {
      display: block;
      margin: 0 auto;
      width: 260px;
      height: 540px;
      padding: 30px 20px;
      background-color: #f8f8f8;
      -webkit-box-shadow: 4px 4px 28px -1px rgba(0,0,0,0.31);
      box-shadow: 4px 4px 28px -1px rgba(0,0,0,0.31);
      .banner-head {
        text-align: center;
        .banner-name {
          font-size: 25px;
          color:$main;
        }
      }
      .banner-content {
        padding: 0 10px;
        .wrapp {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          &.banner-term {
            margin-bottom: 30px;
          }
          label {
            color: $main;
            display: block;
            font-size: 12px;
            margin-bottom: 10px;
          }
          .range-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            .sum-range-min,
            .sum-range-max {
              display: inline-block;
              color: $secondary;
            }
            .range {
              -webkit-appearance: none;
              appearance: none;
              outline: none;
              max-width: 160px;
              flex-grow: 2;
              margin: 0 5px 10px;
              position: relative;
              background-color: #cacaca;
              background-image: linear-gradient($main, $main);
              background-size: 50% 100%;
              background-repeat: no-repeat;
              border-radius: 20px;
              &::-webkit-slider-thumb {
                appearance: none;
                -webkit-appearance: none;
                cursor: pointer;
                width: 14px;
                height: 14px;
                background-color: #fff;
                border: 5px solid $main;
                border-radius: 50%;
                margin-top: -3px;
              }
              &::-webkit-slider-runnable-track {
                width: 100%;
                cursor: pointer;
                border-radius: 20px;
                height: 7px;
              }
            }
          }
          .results-wrapp {
            label {
              display: inline-block;
              font-weight: 600;
              font-size: 15px;
            }
            .result {
              text-align: center;
              width: 90px;
              height: 30px;
              background-color: $main;
              color: #fff;
              font-weight: 600;
              border: none;
              border-radius: 20px;
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              &:hover,
              &:active,
              &:focus {
                border: none;
                outline: none;
              }
            }
          }
        }
      }
      .banner-footer {
        .total-loan {
          color: $secondary;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
          margin-bottom: 20px;
        }
        .monthly-pay {
          color: $main;
          font-size: 25px;
          margin-bottom: 20px;
          .amount {
            font-weight: 600;
            font-size: 25px;
            text-align: center;
            display: block;
          }
        }
        .submit {
          border-radius: 20px;
          background-color: $main;
          text-transform: uppercase;
          width: 255px;
          display: block;
          margin: 0 auto 15px;
          border: none;
          font-size: 15px;
          font-weight: 600;
          padding: 10px 0;
          a {
            color: #fff;
            text-decoration: none;
            &:focus,
            &:active,
            &:hover {
              text-decoration: none;
              color: #fff;
            }
          }
        }
        .terms {
          color: $secondary;
          font-size: 10px;
          text-align: center;
        }
      }
    }
  }
}